version: "3.9"

services:
  app:
    image: kharis/laravel-app:1.0
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8082:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mariadb:
    image: mariadb:11
    container_name: laravel_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token
            eyJhIjoiZmQ2Y2Y1ZWQ3YjA0MDI3NDQ4ZTY0YThkNTAwMjlkNGYiLCJ0IjoiMjIxYTc3YTgtNGQ0Ni00ZWM1LWJlMzktYWNiZjhlNTNkMGM4IiwicyI6IlpXVXdPR0kwTXprdE5UTTJOQzAwWkdGaUxXSmxZakl0TnpSak56a3laak01T1RRMyJ9

networks:
  laravel:

volumes:
  dbdata:
